body{
    background-color: #04001C;
    color: #A69D00;
}

.ContributionCalendar-day[data-level='0'] {
    background-color: #424242
}

.ContributionCalendar-day[data-level='1'] {
    background-color: #6E6800
}

.ContributionCalendar-day[data-level='2'] {
    background-color: #ADA500
}

.ContributionCalendar-day[data-level='3'] {
    background-color: #DED300
}

.ContributionCalendar-day[data-level='4'] {
    background-color: #FFF200
}

.contrib-number{
    color: greenyellow;
}

.sr-only{
    color: greenyellow;
    font-size: large;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {   
    font-size: 72px ;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    min-width: 360px;
    text-align: center;
}

.calendar{
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    display: flex;
}

.cards{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    border: solid #6E6800 3px;
    height: auto;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.736);
    
}

.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.upper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.log{
    font-size: 24px;
    text-align: start
}